In [1]:
import os
import numpy as np
import pandas as pd
news = pd.read_csv('texts.csv')
pd.set_option("display.max_rows", 200)
messages = pd.read_csv('news.csv')
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
#pd.set_option('float_format', '{:f}'.format)

In [3]:
#! pip install pmdarima

In [4]:
cwd = os.path.abspath('') 
files = os.listdir(cwd)
df = pd.DataFrame()
for file in files:
    if file[-10:] == '211231.csv':
        df = df.append(pd.read_csv(file), ignore_index=True) 
df.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,NFLX-RM,10,20200824,10:10:00,36284.0,36284.0,36284.0,36284.0,0
1,NFLX-RM,10,20200824,10:20:00,36284.0,36284.0,36284.0,36284.0,0
2,NFLX-RM,10,20200824,10:30:00,36284.0,36284.0,36284.0,36284.0,0
3,NFLX-RM,10,20200824,10:40:00,36284.0,36284.0,36284.0,36284.0,0
4,NFLX-RM,10,20200824,10:50:00,36284.0,36284.0,36284.0,36284.0,0

In [5]:
df['<TICKER>'].value_counts()

ALRS       65234
GMKN       65234
HYDR       65234
NVTK       65233
ROSN       65233
YNDX       65232
LKOH       65225
SBER       65225
MTSS       65225
MGNT       65225
AFLT       65225
GAZP       65225
VTBR       65225
RTKM       64417
MAGN       64404
RUAL       64085
FIVE       63357
QIWI       62908
MSNG       53558
RBCM       53086
TCSG       39983
MAIL       28877
INTC-RM    27159
PFE-RM     26876
AAPL-RM    26852
BA-RM      25930
MSFT-RM    25172
FB-RM      24540
NFLX-RM    23418
OZON       23415
TSLA-RM    23225
GOOG-RM    20863
UBER       17658
MRNA-RM    15955
SPGI-RM      369
Name: <TICKER>, dtype: int64

In [6]:
def ticker(x):
    if '—è–Ω–¥–µ–∫—Å' in x or 'yndx' in x or 'yandex' in x:
        y = 'YNDX'
    elif '–≤—Ç–±' in x or 'vtb' in x:
        y = 'VTBR'
    elif 'vk' in x or '–≤–∫' in x or 'mail.ru' in x:
        y = 'MAIL'
    elif 'x5' in x:
        y = 'FIVE'
    elif '–≥–∞–∑–ø—Ä–æ–º' in x or 'gazp' in x:
        y = 'GAZP'
    elif '—Ä—É—Å–∞–ª' in x:
        y = 'RUAL'
    elif 'sber' in x or '—Å–±–µ—Ä' in x:
        y = 'SBER'
    elif 'ozon' in x or '–æ–∑–æ–Ω' in x:
        y = 'OZON'
    elif 'rosn' in x or '—Ä–æ—Å–Ω' in x:
        y = 'ROSN'
    elif '–º—Ç—Å' in x or 'mts' in x:
        y = 'MTSS'
    elif 'fb' in x or 'facebook' in x or '—Ñ–µ–π—Å–±' in x or 'inst' in x or 'whatsapp' in x:
        y = 'FB-RM'
    elif 'apple' in x:
        y = 'AAPL-RM'
    elif 'tesla' in x or '—Ç–µ—Å–ª–∞' in x:
        y = 'TSLA'
    elif '–º–∞–≥–Ω–∏—Ç' in x or 'mgnt' in x:
        y = 'MGNT'
    elif 'rtkm' in x or '—Ä–æ—Å—Ç–µ–ª' in x:
        y = 'RTKM'
    elif '–Ω–æ—Ä–Ω–∏–∫' in x or 'gmnk' in x:
        y = 'GMKN'
    elif 'microsoft' in x or '–º–∞–π–∫—Ä–æ—Å–æ—Ñ—Ç' in x:
        y = 'MSFT-RM'
    elif 'goog' in x or '–≥—É–≥–ª' in x:
        y = 'GOOG-RM'
    elif 'twit' in x or '—Ç–≤–∏—Ç' in x:
        y = 'TWTR-RM'
    elif 'amazon' in x or '–∞–º–∞–∑–æ–Ω' in x:
        y = 'AMZN-RM'
    elif 'aerofl' in x or '–∞—ç—Ä–æ—Ñ–ª' in x:
        y = 'AFLT'
    elif '—Ä–±–∫' in x:
        y = 'RBCM'
    elif '–º–º–∫' in x:
        y = 'MAGN'
    elif 'pfiz' in x:
        y = 'PFE-RM'
    elif 'uber' in x or '—É–±–µ—Ä' in x:
        y = 'UBER'
    elif 'netflix' in x or '–Ω–µ—Ç—Ñ–ª–∏–∫—Å' in x:
        y = 'NFLX-RM'
    elif 'tcs' in x or 'tinkoff' in x or '—Ç–∏–Ω—å–∫' in x:
        y = 'TCSG'
    elif 's&p' in x:
        y = 'SPGI-RM'
    elif 'boeing' in x or '–±–æ–∏–Ω–≥' in x:
        y = 'BA-RM'
    elif '—Ä—É—Å–≥–∏–¥—Ä' in x:
        y = 'HYDR'
    elif '–Ω–æ–≤–∞—Ç—ç–∫' in x:
        y = 'NVTK'
    elif 'alros' in x or '–∞–ª—å—Ä–æ—Å' in x:
        y = 'ALRS'
    elif 'qiwi' in x or '–∫–∏–≤–∏' in x:
        y = 'QIWI'
    elif 'moderna' in x or '–º–æ–¥–µ—Ä–Ω–∞' in x:
        y = 'MRNA-RM'
    elif 'intel' in x or '–∏–Ω—Ç–µ–ª' in x:
        y = 'INTC-RM'
    elif '–ª—É–∫–æ–π–ª' in x or 'lukoil' in x:
        y = 'LKOH'
    elif '–º–æ—Å—ç–Ω–µ—Ä–≥–æ' in x:
        y = 'MSNG'
    else:
        y = x
    return y

In [7]:
news = news[['message', 'date', 'lables']]

In [8]:
news['<TICKER>'] = news.lables.apply(lambda x: ticker(str(x)))
#messages['<TICKER>'] = messages.message.apply(lambda x: ticker(str(x)))

In [9]:
#messages

In [10]:
news['<TICKER>'].value_counts().head(70)
#messages['<TICKER>'].value_counts().head(20)

—Ü–±                   11537
SBER                  7518
GAZP                  7279
VTBR                  4859
forbes                4441
—Ñ—Ä—Å                   4044
–æ–ø–µ–∫+                 3801
FB-RM                 3155
ROSN                  3087
AAPL-RM               2935
–æ–ø–µ–∫                  2876
–º–∏–Ω—Ñ–∏–Ω                2813
TSLA                  2466
YNDX                  2330
TWTR-RM               2269
—Å–º–∏                   2236
—Ç–∞—Å—Å                  2234
AMZN-RM               2074
TCSG                  2033
MAIL                  1984
—Ä–¥–≤                   1832
GOOG-RM               1811
bloomberg             1748
MTSS                  1735
–º–æ—Å–±–∏—Ä–∂–∏              1533
–º–∏–Ω—Ñ–∏–Ω–∞               1375
AFLT                  1318
MSFT-RM               1174
–±–∞–Ω–∫ —Ä–æ—Å—Å–∏–∏           1156
–µ—Ü–±                   1143
–º–∏–¥                   1119
SPGI-RM               1079
–º–æ—Å–∫–æ–≤—Å–∫–æ–π –±–∏—Ä–∂–µ      1006
RBCM                   979
FIVE                   950
GMKN                   946
–±–∞–Ω–∫–∞ —Ä–æ—Å—Å–∏–∏           935
—Ñ–∞—Å                    919
MGNT                   886
RUAL                   882
—Ä—Ç—Å                    863
sec                    862
—Ä—Ü–±                    858
–º–∏–Ω—ç–Ω–µ—Ä–≥–æ              856
telegram               850
nasdaq                 820
LKOH                   783
MAGN                   782
OZON                   781
üåéfx                    761
goldman sachs          756
NVTK                   694
–º–≤—Ñ                    694
—Ü–µ–Ω—Ç—Ä–æ–±–∞–Ω–∫             694
PFE-RM                 675
binance                638
—Ä–∏–∞ –Ω–æ–≤–æ—Å—Ç–∏            601
–∏–Ω—Ç–µ—Ä —Ä–∞–æ              600
RTKM                   595
–º–∏–Ω—ç–∫–æ–Ω–æ–º—Ä–∞–∑–≤–∏—Ç–∏—è      591
alibaba                586
—Ñ—Å–±                    584
UBER                   575
reuters                574
coinbase               574
—Å–¥                     563
–º–µ–∂–±–∞–Ω–∫                555
–º–≤–¥                    554
‚ùó                      551
–≥–æ—Å–¥—É–º–∞                538
Name: <TICKER>, dtype: int64

In [11]:
df['date'] = df['<DATE>'].apply(lambda x: f'{str(x)[:4]}-{str(x)[4:6]}-{str(x)[6:]}')
df['date'] = df['date'].apply(lambda x: str(x)) + ' ' + df['<TIME>'].apply(lambda x: str(x))
df['date'] = pd.to_datetime(df['date'])
news['date'] = pd.to_datetime(news['date'])
#messages['date'] = pd.to_datetime(messages['date'])

In [12]:
news.head(20)

,message,date,lables,<TICKER>
0,"üèÅ –∏—Ç–æ–≥–∏ –¥–Ω—è, 07.12\n\nüá∑üá∫ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç —Ä—Ñ –∂–¥–µ—Ç –æ—Ç ...",2021-12-07 17:40:00,–º–ª—Ä–¥.–∫—É–±.–º,–º–ª—Ä–¥.–∫—É–±.–º
1,"üèÅ –∏—Ç–æ–≥–∏ –¥–Ω—è, 07.12\n\nüá∑üá∫ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç —Ä—Ñ –∂–¥–µ—Ç –æ—Ç ...",2021-12-07 17:40:00,softline,softline
2,"üèÅ –∏—Ç–æ–≥–∏ –¥–Ω—è, 07.12\n\nüá∑üá∫ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç —Ä—Ñ –∂–¥–µ—Ç –æ—Ç ...",2021-12-07 17:40:00,—Ä–æ—Å–Ω–µ—Ñ—Ç–∏,ROSN
3,üî•üéôÔ∏è –≤–æ–π—Å-—á–∞—Ç —Å –∏–Ω–≤–µ—Å—Ç–∫–æ–Ω—Å—É–ª—å—Ç–∞–Ω—Ç–∞–º–∏! \n\n–∑–∞–≤—Ç—Ä...,2021-12-07 12:20:00,–≤—Ç–±,VTBR
4,"üìä –∑–∞ –º–µ—Å—è—Ü -4,0% (-4,4%*)\nüìà –∑–∞ –≥–æ–¥ +23,7% (+9...",2021-12-07 11:10:00,inditex,inditex
5,"üìä –∑–∞ –º–µ—Å—è—Ü -4,0% (-4,4%*)\nüìà –∑–∞ –≥–æ–¥ +23,7% (+9...",2021-12-07 11:10:00,sartorius ag,sartorius ag
6,"üìä –∑–∞ –º–µ—Å—è—Ü -4,0% (-4,4%*)\nüìà –∑–∞ –≥–æ–¥ +23,7% (+9...",2021-12-07 11:10:00,hugo boss,hugo boss
7,"üìä –∑–∞ –º–µ—Å—è—Ü -4,0% (-4,4%*)\nüìà –∑–∞ –≥–æ–¥ +23,7% (+9...",2021-12-07 11:10:00,amadeus it group,amadeus it group
8,"üìä –∑–∞ –º–µ—Å—è—Ü -4,0% (-4,4%*)\nüìà –∑–∞ –≥–æ–¥ +23,7% (+9...",2021-12-07 11:10:00,li auto,li auto
9,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,—è–Ω–¥–µ–∫—Å.–º—É–∑—ã–∫–µ,YNDX
10,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,youtube,youtube
11,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,soundcloud,soundcloud
12,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,vk,MAIL
13,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,us global jets etf,us global jets etf
14,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,castbox,castbox
15,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,apple podcasts,AAPL-RM
16,#–∏–Ω–≤–µ—Å—Ç–∏–¥–µ—è \n\n–¥–ª—è –∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–≤–µ—Å—Ç–æ—Ä...,2021-12-07 10:00:00,–≤—Ç–±,VTBR
17,7 –¥–µ–∫–∞–±—Ä—è ‚Äî tesla –ø–æ–¥ –¥–∞–≤–ª–µ–Ω–∏–µ–º —Ä–µ–≥—É–ª—è—Ç–æ—Ä–∞ \n\...,2021-12-07 06:40:00,tesla,TSLA
18,"üèÅ –∏—Ç–æ–≥–∏ –¥–Ω—è, 06.12\n\nüá®üá≥ —Ü–± –∫–∏—Ç–∞—è —Å–Ω–∏–∑–∏–ª —Å—Ç–∞–≤–∫...",2021-12-06 15:30:00,–≤–æ–∑,–≤–æ–∑
19,"üèÅ –∏—Ç–æ–≥–∏ –¥–Ω—è, 06.12\n\nüá®üá≥ —Ü–± –∫–∏—Ç–∞—è —Å–Ω–∏–∑–∏–ª —Å—Ç–∞–≤–∫...",2021-12-06 15:30:00,—Ü–±,—Ü–±

In [13]:
result = pd.merge(df[['<TICKER>','<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<VOL>', 'date']],
                  news[['message', 'date', '<TICKER>']], on=['date', '<TICKER>'], how = 'left')

In [14]:
result['day'] = result['date'].dt.date

In [15]:
result['std'] = result.groupby(['<TICKER>', 'day'])['<OPEN>']\
                .transform('std')

In [16]:
#result.groupby(by = '<TICKER>')['message'].count() # –ø–æ–∏—Å–∫–æ–º –ø–æ –≤—Å–µ–º —Å–æ–æ–±—â–µ–Ω–∏—è–º

In [17]:
result[~result['message'].isnull()]

,<TICKER>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,date,message,day,std
155,NFLX-RM,37199.0,37199.0,37199.0,37199.0,1,2020-08-26 13:30:00,‚ö†Ô∏èüá∞üá∑#nflx #attention #—é–∫–æ—Ä–µ—è\n—é–∂–Ω–æ–∫–æ—Ä–µ–π—Å–∫–∏–µ –≤–ª...,2020-08-26,1717.536868
486,NFLX-RM,41325.0,41338.0,41325.0,41338.0,10,2020-09-02 11:50:00,–∞–¥–∞–ø—Ç–∏—Ä–æ–≤–∞—Ç—å netflix –¥–ª—è —Ä–æ—Å—Å–∏–π—Å–∫–æ–≥–æ –∑—Ä–∏—Ç–µ–ª—è –±...,2020-09-02,209.348449
487,NFLX-RM,41450.0,41450.0,41450.0,41450.0,1,2020-09-02 12:00:00,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02,209.348449
525,NFLX-RM,41497.0,41519.0,41497.0,41508.0,5,2020-09-02 18:20:00,üóì —á—Ç–æ –±—ã–ª–æ —Å–µ–≥–æ–¥–Ω—è?\n\nüõí —Ö5 –∑–∞–ø—É—Å–∫–∞–µ—Ç –µ–¥–∏–Ω—É—é —Å...,2020-09-02,209.348449
632,NFLX-RM,39323.0,39323.0,39323.0,39323.0,1,2020-09-04 12:30:00,‚Äã‚Äã—Ä–∞–∑–±–∏—Ä–∞–µ–º 3 –Ω–µ–æ–ø—Ä–∞–≤–¥–∞–Ω–Ω–æ –¥–µ—à–µ–≤—ã–µ –∞–∫—Ü–∏–∏ —Å—Ç–æ–∏–º...,2020-09-04,657.900035
...,...,...,...,...,...,...,...,...,...,...
1622685,QIWI,611.0,611.0,609.5,610.5,417,2021-09-30 12:10:00,—Å–æ–æ—Å–Ω–æ–≤–∞—Ç–µ–ª—å –ø–ª–∞—Ç–µ–∂–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ qiwi —Å–µ—Ä–≥–µ–π —Å–æ...,2021-09-30,1.781247
1625716,QIWI,588.0,589.0,587.0,589.0,434,2021-11-23 12:00:00,‚ö°Ô∏èüá∑üá∫#qiwi #–æ—Ç—á–µ—Ç–Ω–æ—Å—Ç—å \n—Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —á–∏—Å—Ç...,2021-11-23,22.339465
1625718,QIWI,590.0,593.5,589.0,590.5,1313,2021-11-23 12:20:00,qiwi –æ–ø—É–±–ª–∏–∫–æ–≤–∞–ª–∞ –æ—Ç—á–µ—Ç–Ω–æ—Å—Ç—å –ø–æ –º—Å—Ñ–æ –∑–∞ 3 –∫–≤–∞—Ä...,2021-11-23,22.339465
1625742,QIWI,618.0,619.0,615.0,617.5,2166,2021-11-23 16:20:00,üìâ —Ä—ã–Ω–∫–∏ –≤–µ—á–µ—Ä–æ–º: –±–∞–π–¥–µ–Ω –Ω–µ —Å–º–æ–≥ —É—Å–ø–æ–∫–æ–∏—Ç—å —Ä—ã–Ω–æ...,2021-11-23,22.339465
1625820,QIWI,633.0,633.0,629.5,631.0,1349,2021-11-24 15:40:00,üü¢ –∫–≤–∞—Ä—Ç–∞–ª—å–Ω—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã qiwi –Ω–∞ —É—Ä–æ–≤–Ω–µ –æ–∂–∏–¥–∞–Ω...,2021-11-24,4.414299

In [18]:
news[news['date']=='2020-09-02 12:00:00']

,message,date,lables,<TICKER>
125870,‚ùóÔ∏è‚ò¢Ô∏è#–∫—Ä–∏–ø—Ç–æ #–∫–æ–Ω—Ç—Ä–æ–ª—å\n–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∫—Ä–∏–ø—Ç–æ–≤–∞–ª—é...,2020-09-02 12:00:00,coin metrics,coin metrics
125871,‚ö°Ô∏èüî•#dkng #–∏–Ω—Å–∞–π–¥–µ—Ä\nmichael jordan –º–æ–∂–µ—Ç –∫—É–ø–∏—Ç...,2020-09-02 12:00:00,draftkings,draftkings
304749,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02 12:00:00,—Ä–±–∫,RBCM
304750,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02 12:00:00,royal bank of canada,royal bank of canada
304751,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02 12:00:00,netflix,NFLX-RM
310284,—è —Ä–µ—à–∏–ª–∞ –Ω–∞–ø–∏—Å–∞—Ç—å –∑–∞–≤–µ—â–∞–Ω–∏–µ. \n.\nüëâüèª¬´–Ω–µ –∑–∞–≥–∞–¥—ã...,2020-09-02 12:00:00,–∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π.,–∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π.

In [19]:
df[df['date']=='2020-09-02 12:00:00']

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,date
487,NFLX-RM,10,20200902,12:00:00,41450.000000,41450.00000,41450.000000,41450.000000,1,2020-09-02 12:00:00
23860,GOOG-RM,10,20200902,12:00:00,124120.000000,124120.00000,124086.000000,124086.000000,3,2020-09-02 12:00:00
102652,FIVE,10,20200902,12:00:00,2661.500000,2666.00000,2661.500000,2664.000000,1848,2020-09-02 12:00:00
167074,RTKM,10,20200902,12:00:00,97.260000,97.37000,97.260000,97.320000,10440,2020-09-02 12:00:00
232294,SBER,10,20200902,12:00:00,227.720000,228.01000,227.680000,227.820000,242240,2020-09-02 12:00:00
295781,RBCM,10,20200902,12:00:00,3.388000,3.38800,3.388000,3.388000,0,2020-09-02 12:00:00
350974,MGNT,10,20200902,12:00:00,4509.000000,4513.00000,4509.000000,4510.000000,7286,2020-09-02 12:00:00
416206,YNDX,10,20200902,12:00:00,5096.400000,5101.00000,5095.000000,5098.000000,7014,2020-09-02 12:00:00
444975,BA-RM,10,20200902,12:00:00,12815.000000,12815.00000,12815.000000,12815.000000,2,2020-09-02 12:00:00
507361,AFLT,10,20200902,12:00:00,81.820000,81.88000,81.700000,81.760000,40660,2020-09-02 12:00:00
536123,MSFT-RM,10,20200902,12:00:00,16928.000000,16950.00000,16927.000000,16944.000000,77,2020-09-02 12:00:00
561295,PFE-RM,10,20200902,12:00:00,2736.000000,2751.00000,2736.000000,2746.000000,444,2020-09-02 12:00:00
624643,GMKN,10,20200902,12:00:00,20180.000000,20188.00000,20140.000000,20148.000000,8464,2020-09-02 12:00:00
713283,GAZP,10,20200902,12:00:00,183.880000,183.93000,183.700000,183.800000,180300,2020-09-02 12:00:00
743837,MAIL,10,20200902,12:00:00,2387.600000,2393.00000,2380.000000,2391.600000,13755,2020-09-02 12:00:00
807393,NVTK,10,20200902,12:00:00,1110.400000,1113.20000,1110.000000,1110.600000,10561,2020-09-02 12:00:00
872618,MTSS,10,20200902,12:00:00,340.400000,340.85000,340.250000,340.400000,12040,2020-09-02 12:00:00
937031,RUAL,10,20200902,12:00:00,31.600000,31.63000,31.600000,31.620000,57540,2020-09-02 12:00:00
965494,INTC-RM,10,20200902,12:00:00,3804.000000,3810.00000,3791.000000,3809.000000,133,2020-09-02 12:00:00
1027638,MSNG,10,20200902,12:00:00,2.086500,2.09100,2.086000,2.090000,45000,2020-09-02 12:00:00
1057403,TCSG,10,20200902,12:00:00,1815.800000,1817.40000,1810.000000,1812.000000,3792,2020-09-02 12:00:00
1122637,ROSN,10,20200902,12:00:00,374.750000,374.80000,374.250000,374.750000,22960,2020-09-02 12:00:00
1151374,FB-RM,10,20200902,12:00:00,22094.000000,22103.00000,22094.000000,22098.000000,3,2020-09-02 12:00:00
1228365,ALRS,10,20200902,12:00:00,67.740000,67.82000,67.660000,67.730000,92630,2020-09-02 12:00:00
1293599,HYDR,10,20200902,12:00:00,0.739300,0.73960,0.737500,0.738700,7354000,2020-09-02 12:00:00
1358824,LKOH,10,20200902,12:00:00,4944.000000,4947.00000,4939.000000,4947.000000,13983,2020-09-02 12:00:00
1450901,VTBR,10,20200902,12:00:00,0.036085,0.03609,0.036055,0.036075,152070000,2020-09-02 12:00:00
1532964,MAGN,10,20200902,12:00:00,38.125000,38.14000,38.000000,38.030000,576900,2020-09-02 12:00:00
1596599,QIWI,10,20200902,12:00:00,1313.000000,1315.50000,1312.000000,1313.500000,92,2020-09-02 12:00:00

In [20]:
news[news['date']=='2020-09-02 12:00:00']

,message,date,lables,<TICKER>
125870,‚ùóÔ∏è‚ò¢Ô∏è#–∫—Ä–∏–ø—Ç–æ #–∫–æ–Ω—Ç—Ä–æ–ª—å\n–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∫—Ä–∏–ø—Ç–æ–≤–∞–ª—é...,2020-09-02 12:00:00,coin metrics,coin metrics
125871,‚ö°Ô∏èüî•#dkng #–∏–Ω—Å–∞–π–¥–µ—Ä\nmichael jordan –º–æ–∂–µ—Ç –∫—É–ø–∏—Ç...,2020-09-02 12:00:00,draftkings,draftkings
304749,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02 12:00:00,—Ä–±–∫,RBCM
304750,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02 12:00:00,royal bank of canada,royal bank of canada
304751,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02 12:00:00,netflix,NFLX-RM
310284,—è —Ä–µ—à–∏–ª–∞ –Ω–∞–ø–∏—Å–∞—Ç—å –∑–∞–≤–µ—â–∞–Ω–∏–µ. \n.\nüëâüèª¬´–Ω–µ –∑–∞–≥–∞–¥—ã...,2020-09-02 12:00:00,–∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π.,–∏–Ω–≤–µ—Å—Ç–∏—Ü–∏–π.

In [21]:
result[(result['date']=='2020-09-02 12:00:00') & (result['<TICKER>']=='RBCM')]

,<TICKER>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,date,message,day,std
296697,RBCM,3.388,3.388,3.388,3.388,0,2020-09-02 12:00:00,netflix ‚Äî –∏—Å—Ç–æ—Ä–∏—è –≥–ª–æ–±–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞\n\nnetflix...,2020-09-02,0.010533

In [22]:
result.groupby(by = '<TICKER>')[['message', '<TICKER>']].count().sort_values(by = ['message'], ascending = False) #–ø–æ–∏—Å–∫–æ–º –ø–æ —Å–æ–æ–±—â–µ–Ω–∏—è–º –ø–æ—Å–ª–µ NER

          message  <TICKER>
<TICKER>
SBER         3534     65989
GAZP         3252     66082
VTBR         2399     65540
ROSN         1351     65495
YNDX         1092     65514
AAPL-RM       909     26949
MTSS          904     65418
FB-RM         872     24725
TCSG          792     40159
MAIL          593     28953
AFLT          576     65307
GOOG-RM       537     20905
FIVE          472     63427
GMKN          456     65290
RBCM          424     53093
LKOH          362     65281
MGNT          353     65315
RUAL          340     64116
MSFT-RM       330     25189
NVTK          324     65275
MAGN          312     64443
PFE-RM        308     26901
RTKM          233     64452
OZON          223     23443
QIWI          221     62931
INTC-RM       177     27175
HYDR          166     65246
MSNG          146     53579
NFLX-RM       131     23421
BA-RM          89     25935
UBER           81     17665
MRNA-RM        74     15958
SPGI-RM         8       370
ALRS            1     65234
TSLA-RM         0     23225

In [23]:
result.tail(70)

,<TICKER>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,date,message,day,std
1627930,QIWI,584.0,584.5,583.0,584.0,154,2021-12-30 12:10:00,NaN,2021-12-30,10.561074
1627931,QIWI,583.0,585.5,582.5,585.0,600,2021-12-30 12:20:00,NaN,2021-12-30,10.561074
1627932,QIWI,585.5,586.0,585.0,586.0,100,2021-12-30 12:30:00,NaN,2021-12-30,10.561074
1627933,QIWI,585.0,586.0,584.5,585.5,241,2021-12-30 12:40:00,NaN,2021-12-30,10.561074
1627934,QIWI,585.5,586.0,583.0,584.5,816,2021-12-30 12:50:00,NaN,2021-12-30,10.561074
1627935,QIWI,585.5,587.0,584.5,586.0,167,2021-12-30 13:00:00,NaN,2021-12-30,10.561074
1627936,QIWI,586.0,586.0,585.0,586.0,230,2021-12-30 13:10:00,NaN,2021-12-30,10.561074
1627937,QIWI,585.0,586.5,584.5,584.5,499,2021-12-30 13:20:00,NaN,2021-12-30,10.561074
1627938,QIWI,584.5,585.5,583.0,583.0,935,2021-12-30 13:30:00,NaN,2021-12-30,10.561074
1627939,QIWI,584.0,585.5,583.0,585.0,481,2021-12-30 13:40:00,NaN,2021-12-30,10.561074
1627940,QIWI,585.0,586.5,585.0,585.5,285,2021-12-30 13:50:00,NaN,2021-12-30,10.561074
1627941,QIWI,586.0,587.0,585.5,585.5,641,2021-12-30 14:00:00,NaN,2021-12-30,10.561074
1627942,QIWI,586.0,587.0,585.0,587.0,108,2021-12-30 14:10:00,NaN,2021-12-30,10.561074
1627943,QIWI,587.0,587.0,584.0,584.0,417,2021-12-30 14:20:00,NaN,2021-12-30,10.561074
1627944,QIWI,585.5,586.5,585.0,586.5,198,2021-12-30 14:30:00,NaN,2021-12-30,10.561074
1627945,QIWI,585.5,586.5,585.5,586.5,106,2021-12-30 14:40:00,NaN,2021-12-30,10.561074
1627946,QIWI,586.5,587.5,585.5,586.5,729,2021-12-30 14:50:00,NaN,2021-12-30,10.561074
1627947,QIWI,587.5,588.0,587.0,588.0,1186,2021-12-30 15:00:00,NaN,2021-12-30,10.561074
1627948,QIWI,587.0,588.0,586.5,586.5,225,2021-12-30 15:10:00,NaN,2021-12-30,10.561074
1627949,QIWI,587.0,590.0,586.5,588.5,1910,2021-12-30 15:20:00,NaN,2021-12-30,10.561074
1627950,QIWI,588.5,590.0,588.0,589.5,872,2021-12-30 15:30:00,NaN,2021-12-30,10.561074
1627951,QIWI,589.0,592.5,588.5,589.5,1718,2021-12-30 15:40:00,NaN,2021-12-30,10.561074
1627952,QIWI,589.5,592.5,589.0,591.0,1068,2021-12-30 15:50:00,NaN,2021-12-30,10.561074
1627953,QIWI,591.0,592.0,585.5,588.0,2611,2021-12-30 16:00:00,NaN,2021-12-30,10.561074
1627954,QIWI,587.5,588.0,585.5,587.0,1272,2021-12-30 16:10:00,NaN,2021-12-30,10.561074
1627955,QIWI,587.0,588.5,586.0,588.5,741,2021-12-30 16:20:00,NaN,2021-12-30,10.561074
1627956,QIWI,587.5,590.0,587.5,589.0,570,2021-12-30 16:30:00,NaN,2021-12-30,10.561074
1627957,QIWI,590.0,590.5,589.0,590.0,489,2021-12-30 16:40:00,NaN,2021-12-30,10.561074
1627958,QIWI,590.0,591.0,586.5,588.0,1296,2021-12-30 16:50:00,NaN,2021-12-30,10.561074
1627959,QIWI,588.5,588.5,586.5,587.5,323,2021-12-30 17:00:00,NaN,2021-12-30,10.561074
1627960,QIWI,588.0,590.0,588.0,589.5,1372,2021-12-30 17:10:00,NaN,2021-12-30,10.561074
1627961,QIWI,590.0,590.0,588.5,589.5,1051,2021-12-30 17:20:00,NaN,2021-12-30,10.561074
1627962,QIWI,588.5,589.0,588.0,589.0,773,2021-12-30 17:30:00,NaN,2021-12-30,10.561074
1627963,QIWI,589.0,597.0,589.0,595.5,6553,2021-12-30 17:40:00,NaN,2021-12-30,10.561074
1627964,QIWI,595.5,605.5,595.5,605.5,15679,2021-12-30 17:50:00,NaN,2021-12-30,10.561074
1627965,QIWI,604.5,612.0,604.0,611.5,14666,2021-12-30 18:00:00,NaN,2021-12-30,10.561074
1627966,QIWI,611.5,612.0,605.0,608.0,5252,2021-12-30 18:10:00,NaN,2021-12-30,10.561074
1627967,QIWI,608.0,611.0,605.0,608.5,11406,2021-12-30 18:20:00,NaN,2021-12-30,10.561074
1627968,QIWI,608.5,610.0,606.5,607.5,1884,2021-12-30 18:30:00,NaN,2021-12-30,10.561074
1627969,QIWI,608.5,611.0,605.5,606.0,5990,2021-12-30 18:40:00,NaN,2021-12-30,10.561074
1627970,QIWI,608.0,608.0,608.0,608.0,55,2021-12-30 18:50:00,NaN,2021-12-30,10.561074
1627971,QIWI,606.0,606.5,604.0,605.5,622,2021-12-30 19:10:00,NaN,2021-12-30,10.561074
1627972,QIWI,605.0,608.0,604.5,604.5,2378,2021-12-30 19:20:00,NaN,2021-12-30,10.561074
1627973,QIWI,604.5,606.0,604.5,605.5,1113,2021-12-30 19:30:00,NaN,2021-12-30,10.561074
1627974,QIWI,605.0,606.0,604.5,606.0,1716,2021-12-30 19:40:00,NaN,2021-12-30,10.561074
1627975,QIWI,606.0,607.5,605.5,606.5,3769,2021-12-30 19:50:00,NaN,2021-12-30,10.561074
1627976,QIWI,607.5,610.0,607.0,608.5,1953,2021-12-30 20:00:00,NaN,2021-12-30,10.561074
1627977,QIWI,608.0,608.0,605.5,605.5,344,2021-12-30 20:10:00,NaN,2021-12-30,10.561074
1627978,QIWI,606.5,611.0,605.0,610.5,6300,2021-12-30 20:20:00,NaN,2021-12-30,10.561074
1627979,QIWI,610.5,612.0,610.0,610.0,1831,2021-12-30 20:30:00,NaN,2021-12-30,10.561074
1627980,QIWI,611.0,611.0,608.5,608.5,647,2021-12-30 20:40:00,NaN,2021-12-30,10.561074
1627981,QIWI,608.5,609.5,607.0,607.5,505,2021-12-30 20:50:00,NaN,2021-12-30,10.561074
1627982,QIWI,607.5,608.0,605.0,605.0,4371,2021-12-30 21:00:00,NaN,2021-12-30,10.561074
1627983,QIWI,605.0,606.0,604.0,606.0,2157,2021-12-30 21:10:00,NaN,2021-12-30,10.561074
1627984,QIWI,605.5,606.0,604.5,605.0,216,2021-12-30 21:20:00,NaN,2021-12-30,10.561074
1627985,QIWI,604.5,605.0,602.5,604.5,3512,2021-12-30 21:30:00,NaN,2021-12-30,10.561074
1627986,QIWI,604.0,605.0,604.0,604.0,69,2021-12-30 21:40:00,NaN,2021-12-30,10.561074
1627987,QIWI,604.0,605.0,604.0,605.0,225,2021-12-30 21:50:00,NaN,2021-12-30,10.561074
1627988,QIWI,605.0,610.5,604.0,608.0,6646,2021-12-30 22:00:00,NaN,2021-12-30,10.561074
1627989,QIWI,608.5,609.5,607.5,608.5,1635,2021-12-30 22:10:00,NaN,2021-12-30,10.561074
1627990,QIWI,608.5,609.5,607.5,608.5,95,2021-12-30 22:20:00,NaN,2021-12-30,10.561074
1627991,QIWI,608.5,610.0,607.5,610.0,1115,2021-12-30 22:30:00,NaN,2021-12-30,10.561074
1627992,QIWI,610.0,610.0,608.5,609.5,438,2021-12-30 22:40:00,NaN,2021-12-30,10.561074
1627993,QIWI,609.5,609.5,607.5,609.0,267,2021-12-30 22:50:00,NaN,2021-12-30,10.561074
1627994,QIWI,608.5,609.0,606.5,606.5,761,2021-12-30 23:00:00,NaN,2021-12-30,10.561074
1627995,QIWI,606.5,607.0,606.0,606.5,255,2021-12-30 23:10:00,NaN,2021-12-30,10.561074
1627996,QIWI,606.5,608.0,606.0,608.0,685,2021-12-30 23:20:00,NaN,2021-12-30,10.561074
1627997,QIWI,606.0,608.5,606.0,608.5,575,2021-12-30 23:30:00,NaN,2021-12-30,10.561074
1627998,QIWI,609.0,610.0,608.5,608.5,2006,2021-12-30 23:40:00,NaN,2021-12-30,10.561074
1627999,QIWI,608.0,609.5,607.0,609.0,1158,2021-12-30 23:50:00,NaN,2021-12-30,10.561074

In [24]:
#result[~result['y_1'].notnull()]

# –ü—Ä–∏–¥—É–º—ã–≤–∞—é —Ç–∞—Ä–≥–µ—Ç—ã



1. y<sub>1</sub> = shift –Ω–∞ 10 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥
2. y<sub>2</sub> = shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 10 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥
3. y<sub>3</sub> = —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 10 –º–∏–Ω—É—Ç
4. y<sub>4</sub> = % –ø—Ä–∏—Ä–æ—Å—Ç –∑–∞ 10 –º–∏–Ω—É—Ç
5. y<sub>5</sub> = shift –Ω–∞ 60 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥
6. y<sub>6</sub> = shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 60 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥
7. y<sub>7</sub> = —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 60 –º–∏–Ω—É—Ç
8. y<sub>8</sub> = % –ø—Ä–∏—Ä–æ—Å—Ç –∑–∞ 60 –º–∏–Ω—É—Ç
9. y<sub>9</sub> = shift –Ω–∞ 1 –¥–µ–Ω—å –≤–ø–µ—Ä–µ–¥
10. y<sub>10</sub> = shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 1 –¥–µ–Ω—å –≤–ø–µ—Ä–µ–¥
11. y<sub>11</sub> = —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 1 –¥–µ–Ω—å
12. y<sub>12</sub> = % –ø—Ä–∏—Ä–æ—Å—Ç –∑–∞ 1 –¥–µ–Ω—å

In [47]:
# y_1 - shift –Ω–∞ 10 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥
result['avg_price'] = ((result['<OPEN>'] + result['<CLOSE>'] + result['<HIGH>'] + result['<LOW>'])/4)
result['target_1'] = result['avg_price'].shift(-1)
result['ticker shift'] = result['<TICKER>'].shift(-1)
result.loc[result['<TICKER>'] == result['ticker shift'], 'y_1'] = result['target_1']
result.loc[result['<TICKER>'] != result['ticker shift'], 'y_1'] = None

In [48]:
# y_2 - shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 10 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_2'] = result['y_1'] - result['avg_price']
result.loc[result['<TICKER>'] == result['ticker shift'], 'y_2'] = result['target_2']
result.loc[result['<TICKER>'] != result['ticker shift'], 'y_2'] = None

In [49]:
# y_3 - —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1)

result.loc[result['y_2'] >= 0, 'y_3'] = 1
result.loc[result['y_2'] < 0, 'y_3'] = -1

In [50]:
# y_4 - % –ø—Ä–∏—Ä–æ—Å—Ç–∞ –Ω–∞ 10 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['y_4'] = result['y_1'] / result['avg_price'] - 1

In [51]:
# y_5 - shift –Ω–∞ 20 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_3'] = result['avg_price'].shift(-2)
result['ticker shift 2'] = result['<TICKER>'].shift(-2)
result.loc[result['<TICKER>'] == result['ticker shift 2'], 'y_5'] = result['target_3']
result.loc[result['<TICKER>'] != result['ticker shift 2'], 'y_5'] = None

In [52]:
# y_6 - shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 20 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_4'] = result['y_5'] - result['avg_price']
result.loc[result['<TICKER>'] == result['ticker shift 2'], 'y_6'] = result['target_4']
result.loc[result['<TICKER>'] != result['ticker shift 2'], 'y_6'] = None

In [53]:
# y_7 - —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 20 –º–∏–Ω—É—Ç

result.loc[result['y_6'] >= 0, 'y_7'] = 1
result.loc[result['y_6'] < 0, 'y_7'] = -1

In [54]:
# y_8 - % –ø—Ä–∏—Ä–æ—Å—Ç–∞ –Ω–∞ 20 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['y_8'] = result['y_5'] / result['avg_price'] - 1

In [55]:
# y_9 - shift –Ω–∞ 30 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_5'] = result['avg_price'].shift(-3)
result['ticker shift 3'] = result['<TICKER>'].shift(-3)
result.loc[result['<TICKER>'] == result['ticker shift 3'], 'y_9'] = result['target_5']
result.loc[result['<TICKER>'] != result['ticker shift 3'], 'y_9'] = None

In [56]:
# y_10 - shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 30 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_6'] = result['y_9'] - result['avg_price']
result.loc[result['<TICKER>'] == result['ticker shift 3'], 'y_10'] = result['target_6']
result.loc[result['<TICKER>'] != result['ticker shift 3'], 'y_10'] = None

In [57]:
# y_11 - —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 30 –º–∏–Ω—É—Ç

result.loc[result['y_10'] >= 0, 'y_11'] = 1
result.loc[result['y_10'] < 0, 'y_11'] = -1

In [58]:
# y_12 - shift –Ω–∞ 40 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_7'] = result['avg_price'].shift(-4)
result['ticker shift 4'] = result['<TICKER>'].shift(-4)
result.loc[result['<TICKER>'] == result['ticker shift 4'], 'y_12'] = result['target_7']
result.loc[result['<TICKER>'] != result['ticker shift 4'], 'y_12'] = None

# y_13 - shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 40 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_8'] = result['y_12'] - result['avg_price']
result.loc[result['<TICKER>'] == result['ticker shift 4'], 'y_13'] = result['target_8']
result.loc[result['<TICKER>'] != result['ticker shift 4'], 'y_13'] = None

# y_14 - —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 40 –º–∏–Ω—É—Ç

result.loc[result['y_13'] >= 0, 'y_14'] = 1
result.loc[result['y_13'] < 0, 'y_14'] = -1

In [59]:
# y_15 - shift –Ω–∞ 50 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_9'] = result['avg_price'].shift(-5)
result['ticker shift 5'] = result['<TICKER>'].shift(-5)
result.loc[result['<TICKER>'] == result['ticker shift 5'], 'y_15'] = result['target_9']
result.loc[result['<TICKER>'] != result['ticker shift 5'], 'y_15'] = None

# y_16 - shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 50 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_10'] = result['y_15'] - result['avg_price']
result.loc[result['<TICKER>'] == result['ticker shift 5'], 'y_16'] = result['target_10']
result.loc[result['<TICKER>'] != result['ticker shift 5'], 'y_16'] = None

# y_17 - —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 50 –º–∏–Ω—É—Ç

result.loc[result['y_16'] >= 0, 'y_17'] = 1
result.loc[result['y_16'] < 0, 'y_17'] = -1

In [60]:
# y_18 - shift –Ω–∞ 50 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_11'] = result['avg_price'].shift(-6)
result['ticker shift 6'] = result['<TICKER>'].shift(-6)
result.loc[result['<TICKER>'] == result['ticker shift 6'], 'y_18'] = result['target_11']
result.loc[result['<TICKER>'] != result['ticker shift 6'], 'y_18'] = None

# y_19 - shift —Ä–∞–∑–Ω–∏—Ü—ã –Ω–∞ 50 –º–∏–Ω—É—Ç –≤–ø–µ—Ä–µ–¥

result['target_12'] = result['y_18'] - result['avg_price']
result.loc[result['<TICKER>'] == result['ticker shift 6'], 'y_19'] = result['target_12']
result.loc[result['<TICKER>'] != result['ticker shift 6'], 'y_19'] = None

# y_20 - —Ç—Ä–µ–Ω–¥ (-1 –∏–ª–∏ +1) –∑–∞ 50 –º–∏–Ω—É—Ç

result.loc[result['y_19'] >= 0, 'y_20'] = 1
result.loc[result['y_19'] < 0, 'y_20'] = -1

In [41]:
result = result[['<TICKER>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', 'message', 'date', 'y_3','y_7',
                'y_11', 'y_14', 'y_17', 'y_20']]

### –ø—ã—Ç–∞—é—Å—å —Å–º–µ—Å—Ç–∏—Ç—å –∏–Ω–¥–µ–∫—Å –Ω–∞ 1 –¥–µ–Ω—å

In [43]:
result['raw_news'] = result['message'].fillna('nan')

<ipython-input-43-e9916c083caa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['raw_news'] = result['message'].fillna('nan')

# TF-IDF

## –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

In [44]:
!pip install pymorphy2
import pymorphy2
import re
morph = pymorphy2.MorphAnalyzer()
def lemmatize(text):
    """
  –°–æ–∑–¥–∞—ë–º –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä—É–µ—Ç —Ç–µ–∫—Å—Ç.
  –ê—Ä–≥—É–º–µ–Ω—Ç:
  text - —Ç–µ–∫—Å—Ç, –∫–æ—Ç–æ—Ä—ã–π –Ω—É–∂–Ω–æ –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞—Ç—å
  –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç:
  res - –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–π —Ç–µ–∫—Å—Ç
    """
    try:
        words = re.split(r'\W+', text) # —Ä–∞–∑–±–∏–≤–∞–µ–º —Ç–µ–∫—Å—Ç –Ω–∞ —Å–ª–æ–≤–∞
    except:
        return text
    res = str()
    for word in words:
        p = morph.parse(word)[0]
        res += (p.normal_form) + ' '
    return res

Requirement already satisfied: pymorphy2 in /Users/dariagerasimenko/opt/anaconda3/lib/python3.8/site-packages (0.9.1)
Requirement already satisfied: pymorphy2-dicts-ru<3.0,>=2.4 in /Users/dariagerasimenko/opt/anaconda3/lib/python3.8/site-packages (from pymorphy2) (2.4.417127.4579844)
Requirement already satisfied: dawg-python>=0.7.1 in /Users/dariagerasimenko/opt/anaconda3/lib/python3.8/site-packages (from pymorphy2) (0.7.2)
Requirement already satisfied: docopt>=0.6 in /Users/dariagerasimenko/opt/anaconda3/lib/python3.8/site-packages (from pymorphy2) (0.6.2)
WARNING: You are using pip version 22.0.3; however, version 22.0.4 is available.
You should consider upgrading via the '/Users/dariagerasimenko/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [45]:
result['lem_message'] = result['raw_news'].apply(lambda x: lemmatize(x))

In [61]:
result.to_csv('result_1.csv')